.birthday-list {
    width: 430px;
    padding: 20px;
    border-radius: 6px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 1px 1px 10px 1px grey;
}

.birthday-list button {
    color: white;
    width: 100%;
    padding: 5px 0px;
    font-size: 20px;
    border: none;
    background-color: hotpink;
    border-radius: 5px;
    margin-top: 10px;

}

.person {
    display: flex;
    align-items: center;
}

.person>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 35% 15%;
    margin: 10px;
}

h1,
h3 {
    color: #393535;
}